@import "tailwindcss";

:root {
  --bg-dark: #0f172a;
  --bg-panel: #1e293b;
  --text-light: #f8fafc;
  --accent: #3b82f6;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
  overflow-x: hidden;
}
